
<md-content >
	<md-toolbar id="filterBar" layout="row" layout-align="start center" >
		Search: <input ng-model="query" ng-keyup="searchBeers()"> 
		<!-- <md-select ng-model="type" placeholder="Filter" style="min-width: 200px; padding: 10px">
     		<md-option value="1">One</md-option>
    		<md-option value="2">Two</md-option>
    	</md-select> -->
	</md-toolbar>

	<section style="padding-top: 20px;">
		
		<div infinite-scroll='loadMore()' layout="row" layout-wrap layout-margin layout-align="start start" >
				<div ng-repeat="beer in beers" flex ="30" flex-md="80">
					<md-card flex flex-order="1" style="background-color: #BEE3FF;">
					
					<h3>{{beer.name}}</h3>
					<md-card-content layout="row" layout-align="start start">
					<div >
					<img ng- src="{{beer.imageUrl}}" class="face" alt="{{beer.name}}">
					</div>
					<div>
					Brewery: {{beer.brewer}}<br>
					Category: {{beer.category}}<br>
					Type: {{beer.type}}<br>
					ABV: {{beer.abv}}
					</div>					
					</md-card-content> 
					<md-button ng-click="addToRank(beer)">Add Favorite</md-button>
					</md-card>
				</div>
		</div>
	</section>

</md-content>